[project]
name = "2dog"
version = "0.1.0"
description = ""
authors = [
    {name = "Moritz Voss",email = "mail@moritzvoss.com"}
]
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "rich>=14.2.0",
    "scons (>=4.9.1,<5.0.0)",
]


[tool.poetry]
package-mode = false
